body {
    background-color: #e2e1f4;
    text-align: center;
}

.navbar {
    background-color: #e92424;
    color:whitesmoke;
}

a {
    color: #12140a;
}

a:hover {
    color: #f0f0f0;
  }
.card{
    background-color: #e2e1f4;

}
